{{!< default}}

{{!-- Personal profile based on profile page--}}
{{#get "pages" filter="tag:hash-profile" limit="1" as |profile|}}
  {{!-- Show the profile --}}
  {{#foreach profile}}
    {{> hero-profile }}

    {{!-- Page content from Admin --}}
    {{content}}
  {{/foreach}}
{{/get}}

{{!-- Latest posts --}}
<div class="flex m-t-lg m-b">
  <div class="section__title flex-1">{{t "Latest posts"}}</div>
  {{#link href="/archive/" class="btn--view"}}
    <span class="m-r-sm">{{t "View all"}}</span> 
    {{> icon name="arrow-right" size="xs"}}
  {{/link}}
</div>
<div class="grid post-feed js-post-feed m-b-lg" data-post-feed="{{#if @custom.post_feed_style}}{{@custom.post_feed_style}}{{else}}grid{{/if}}">
  {{#foreach posts to="3"}}
    {{> post-card 
      show_img=true 
      show_access=true
      show_excerpt=true
    }}
  {{/foreach}}
</div>

{{!-- Explore Topics --}}
{{#get "tags" include="count.posts" order="count.posts desc" limit="4"}}
  <div class="flex m-b">
    <div class="section__title flex-1">{{t "Explore topics"}}</div>
    {{#link href="/tags/" class="btn--view"}}
      <span class="m-r-sm">{{t "View all"}}</span> 
      {{> icon name="arrow-right" size="xs"}}
    {{/link}}
  </div>
  <div class="row">
    {{#foreach tags}}
      <div class="col-xs-12 col-sm-6 col-md-3 m-b-lg">
        {{> tag-card show_img=true class="h-100"}}
      </div>
    {{/foreach}}
  </div>
{{/get}}