{{!< default}}

{{!-- Tag Hero --}}
{{#tag}}
  <div class="hero has-img-bg flex flex-cc"{{#if accent_color}} style="--color-accent: {{accent_color}}"{{/if}}>
    <div class="hero__content">
      <h1 class="hero__title">{{name}}</h1>
      {{#if description}}
        <div class="hero__descr text-acc-3 m-b">{{description}}</div>
      {{/if}}
      <div class="hero__details flex flex-cc text-sm text-acc-3">
        <span class="text-sm">{{#plural ../pagination.total empty=(t 'No posts') singular=(t '1 post') plural=(t '% posts')}}{{/plural}}</span>
      </div>
    </div>

    {{#if feature_image}}
      <div class="hero__media is-bg">
        <img class="lazyload" 
            data-srcset="{{img_url feature_image size="xs"}} 100w,
                    {{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-sizes="auto"
            data-src="{{img_url feature_image size="m"}}"
            src="{{img_url feature_image size="xxs"}}"
            alt="{{name}}"/>
      </div>
    {{/if}}
  </div>
{{/tag}}

{{!-- The main content --}}
{{#if posts}}
  {{!-- Posts --}}
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="grid post-feed js-post-feed">
        {{#foreach posts}}
          {{> post-card 
            show_img=true 
            show_access=true
            show_excerpt=true
          }}
        {{/foreach}}
      </div>
    </div>
  </div>

  {{!-- Load more posts --}}
  <div class="col-xs-12 center-xs m-t-lg m-b-lg">
    <button class="btn btn--wide btn--shadow btn--filled js-load-more">
      {{t "Load more posts"}}
    </button>
  </div>
{{/if}}