{{!< ../default}}

{{!-- page header --}}
{{#page}} 
  {{> post-hero 
    wide_img=true
    full_img=false
    img_bg=false
  }}
{{else}}
  <div class="hero__content flex flex-col flex-cc m-t-lg m-b-lg">
    <h1 class="hero__title text-center">{{t "Membership"}}</h1>
  </div>
{{/page}}

{{!-- Membership plan toggle --}}
<div class="data-plan-switch m-b-lg">
  <span class="data-plan-label monthly">{{t "Monthly"}}</span>
  <input checked type="checkbox" role="switch" class="m-0 theme js-plan-toggle" onchange="onDataPlanSwitch()" aria-label="{{t "Membership"}}">
  <span class="data-plan-label">{{t "Yearly"}}</span>
</div>

{{!-- Membership data --}}
<div class="checkout grid pricing js-membership m-b-lg" data-plan="annual" data-member-status="{{#if @member}}{{@member.status}}{{else}}none{{/if}}">
  {{#if @member.paid}}
    {{!-- Logged in paid member: Redirect to account --}}
    <script>window.location = '{{@site.url}}/account/';</script>
  {{else}}
    {{!-- Render all tiers (public) --}}{{! Get all tiers with monthly price, yearly price, and benefits data }}
    {{#get "tiers" include="monthly_price,yearly_price,benefits" limit="all" as |tiers|}}
      {{#foreach tiers}}
        <div class="card checkout-plan tier-{{slug}}" data-tier="{{@number}}">

          {{!-- Title & Price --}}
          <header class="checkout-plan__hdr flex flex-col flex-cc text-acc m-b-lg p-l p-r">
            <h3 class="checkout-plan__title m-0">{{name}}</h3>
            <div class="checkout-plan__description text-center m-t-sm text-11 text-acc">{{description}}</div>
            <div class="checkout-plan__price m-t">
              {{!-- {{#match type "free"}}
                <strong>{{price 0}}</strong>
                <sup>/{{t "forever"}}</sup>
              {{/match}} --}}

              {{#if monthly_price}}
                <a data-plan="monthly" data-portal="signup/{{id}}/monthly">
                  <strong>{{price monthly_price currency=currency}}</strong>
                  <sup>/{{t "month"}}</sup>
                </a>
              {{/if}}

              {{#if yearly_price}}
                <a data-plan="annual" data-portal="signup/{{id}}/yearly">
                  <strong>{{price yearly_price currency=currency}}</strong>
                  <sup>/{{t "year"}}</sup>
                </a>
              {{/if}}
            </div>
          </header>
          
          {{!-- Benefits --}}
          <div class="checkout-plan__content text-acc m-b">
            <ul class="list--unstyled m-b-0">
              {{#foreach benefits as |benefit|}}
                <li>{{benefit}}</li>
              {{/foreach}}
            </ul>
          </div>
        
          {{!-- Price --}}
          {{#if monthly_price}}
            <a href="javascript:" data-plan="monthly" data-portal="signup/{{id}}/monthly"
              class="btn uppercase btn--rounded btn--accent">
              {{t "Subscribe now"}}
            </a>
          {{/if}}

          {{#if yearly_price}}
            <a href="javascript:" data-plan="annual" data-portal="signup/{{id}}/yearly" 
                class="btn uppercase btn--rounded btn--accent">
              {{t "Subscribe now"}}
            </a>
          {{/if}}

          {{!-- Free signup --}}
          {{#match type "free"}}
            {{#link href="/signup/" class="btn uppercase btn--rounded btn--accent"}}{{t "Subscribe now"}}{{/link}}
          {{/match}}
        </div>
      {{/foreach}}
    {{/get}}
  {{/if}}
</div>

<div class="faq content-wrap">
  {{#page}}
    {{#if access}}
      {{content}}
    {{/if}}
  {{/page}}

  {{!-- You can uncomment the section below or use it as a template and 
    add it in the membership page in the Ghost Admin in a html card --}}
  {{!-- FAQ --}}
  {{!-- <h3 class="faq__title text-center">FAQ</h3>

  <details>
    <summary>Where to find the best Ghost Themes?</summary>
    <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
  </details>

  <details>
    <summary>What is a Ghost Theme?</summary>
    <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
  </details> --}}
</div>

{{#contentFor "scripts"}}
  <script>
    const onDataPlanSwitch = () => {
      const planToggle = document.querySelector('.js-plan-toggle');
      const isChecked = planToggle.checked;
      document.querySelector('.js-membership').setAttribute('data-plan', isChecked ? 'annual' : 'monthly');
    };
  </script>
{{/contentFor}}
